/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    min-width: 80%;
    margin: 0 auto;
    background-color: #141922;
}

.minicontainer{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-left: 90px;
    flex-basis: 10px;
    
}

/*header*/
header {
    height: 100px;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    z-index: 1;
}

input {
    position: absolute;
    top: 25px;
    right: 60px;
}

/*main*/
main {
    background-color: #141922;
    display: flex;
    overflow: auto;
    height: 91vh;
}



 /* said */ 
.said {
    height: 91vh;
    width: 80px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;

}
.icon{
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 5px;
}
.logo{
    display: none;
}


ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 110px;
    justify-content: center;
}

li {
    list-style-type: none;
    color: aliceblue;
    margin: 5px;
}

.img {
   margin: 10px;
    width: 205px;
}



/*footer*/
footer {
    height: 100px;
    background-color: grey;
}
 @media screen and (min-width:639px) {
     .said{
         width: 280px;
     }
     .icon{
      display: none;   
    }
    .logo {
        display: block;
    }
    li{
        margin: 30px;
    }
 }