/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-width: 80%;
    margin: 0 auto;
    background-color: #141922;
}

.minicontainer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin: 0 auto;
  
}

h2 {
    margin-left: 100px;
    color: #fff;
}
h6{
    color: #fff;
}
address{
    opacity: 0.5;
}
/*header*/
header {
    height: 100px;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    z-index: 1;
}

input {
    position: absolute;
    top: 25px;
    right: 60px;
}

/*main*/
main {
    background-color: #141922;
    display: flex;
    overflow: auto;
    height: 91vh;
}



/* said */
.said {
    height: 91vh;
    width: 80px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;

}

.icon {
    color: #fff;
    display: block;
    text-align: center;
    margin: 5px;
    
}
span{
    display: none;
    color: #fff;
}
.play{
    list-style-type: none;
    color: #fff;
    margin-left:20px;
    margin: 5px;
}

.logo {
    display: none;
}


.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 110px;
    justify-content: center;
    margin-left: 90px;
}

.it-nav {
    list-style-type: none;
    color: aliceblue;
    margin: 5px;
}
.list-play{
    display: none;
    max-height: 200px;
    overflow-y: auto;
    
}

/* main*/
.img {
    max-width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    margin-top: 20px;
    margin-left: 90px;



}

.card {
    flex-basis: 50%;
    padding: 15px;
    margin: 10px -15px;
    margin-left: 0px;
    list-style-type: none;
    color: aliceblue;
    
}
 .text{
     padding: 10px;
 }



/*footer*/
footer {
    height: 100px;
    background-color: grey;
}

@media screen and (min-width:639px) {
    .said {
        width: 250px;
    }

    .icon {
        display:inline;
        text-align: start;
    }
    .spot{
        display: none;
    }

    .logo {
        display: block;
    }

    .nav , .gallery {
        margin-left: 250px;
    }
    .list-play{
        display:block;
    }
    .it-nav {
        margin: 10px;
    }

    h2 {
        margin-left: 280px;
    }
    span{
        display: inline-block;
 }
}
@media screen and  (min-width:878px) {
    .gallery{
        justify-content: flex-start;
    }
    .card{
        flex-basis: 25%;
    }
}
@media  screen and (min-width:1440px) {
    .card{
        flex-basis:calc(100% / 6);
    }
    
}